
@{
    ViewData["Title"] = "MostrarInformacion2";
}

@section Styles {
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
}

<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div>
                <
            </div>
            <table id="datatable" class="display">                
                <thead id="datatableHead">
                    <tr>                        
                        <th class="centered">IdImpuesto</th>
                        <th class="centered">Impuesto</th>
                        <th class="centered">Ciudad</th>
                        <th class="centered">Departamento</th>
                        <th class="centered">FechaLimite</th>
                        <th class="centered">Responsable</th>
                        <th class="centered">Periodo</th>
                        <th class="centered">Periodicidad</th>
                    </tr>
                </thead>
                <tbody id="datatableBody">
                    @* @foreach (var item in Model)
                    {
                        <tr>
                            <td><button class="btn alert-success" onclick="AbrirModalActualizar('@item.IdImpuesto', '@item.Impuesto')">Actualizar</button></td>
                            <td>@item.Impuesto</td>
                            <td>@item.Ciudad</td>
                            <td>@item.Departamento</td>
                            <td>@item.FechaLimite</td>
                            <td>@item.Responsable</td>
                            <td>@item.Periodo</td>
                            <td>@item.Periodicidad</td>
                        </tr>
                    } *@
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <p>Termina la tabla</p>
</div>


@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    
    <script>
        $(document).ready(function () {
            // Initialize DataTable with options, including AJAX:
            $("#datatable").DataTable({
                "processing": true,
                "serverSide": true,
                ajax: {
                    url: "@Url.Content("~/AdminInformacion/Json")",
                    type: "POST",
                    dataType: "json"  // Note: Corrected "datatype" to "dataType"
                },
                "pageLength": 10,
                "filter": true,
                "responsivePriority": 1,
                "data":null,
                "columns": [
                    { "data": "idImpuesto", "name": "IdImpuesto", autoWidth: true },
                    { "data": "impuesto", "name": "Impuesto", autoWidth: true },
                    { "data": "ciudad", "name": "Ciudad", autoWidth: true },
                    { "data": "departamento", "name": "Departamento", autoWidth: true },
                    { "data": "fechaLimite", "name": "FechaLimite", autoWidth: true },
                    { "data": "responsable", "name": "Responsable", autoWidth: true },
                    { "data": "periodo", "name": "Periodo", autoWidth: true },
                    { "data": "periodicidad", "name": "Periodicidad", autoWidth: true }
                ]
            });
        });
    </script>
    @* <script>
        function F_GetAnotacionPorFecha() {
            if ($.fn.dataTable.isDataTable("#tbGrilla")) {
                $("#tbGrilla").DataTable().destroy();
            }
            var P_IdServicio = $("#IdTipoServicio").val();
            var P_FechaInicial = $("#txtFechaInicial").val();
            var P_FechaFinal = $("#txtFechaFinal").val();
            $("#tbGrilla").DataTable({
                "ajax": {
                    type: "POST",
                    url: UrlGetAnotaciones,
                    async: true,
                    data: {
                        V_IdServicio: P_IdServicio,
                        V_FechaInicial: P_FechaInicial,
                        V_FechaFinal: P_FechaFinal
                    },
                    datatype: "json",
                    cache: false
                },
                "initComplete": function (settings, json) {
                    if (json.success) {
                        $("#PanelGrilla").removeClass('hidden');
                    }
                    else {
                        $("#PanelGrilla").addClass('hidden');
                    }
                },
                language: glOpcionesIdioma,
                responsive: true,
                "columns": [
                    { "data": null, className: "celdaCenter celda1", "render": function (data, type, row) { return ''; } },
                    //{
                    //    "data": null, className: "celdaCenter celda1", "render": function (data, type, row) {
                    //        var inicioBoton = '<div class="dropdown"><button class="btn btn-success" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="fa fa-align-center"></span></button><ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="background-color: lightgoldenrodyellow; line-height:23px; transform:translate3d(0px, -102px, 0px);">';
                    //        //var Ver = `<li style="padding-left: 1px;"><a href="javascript:F_GetLibrosDetalle(${row.IdResponsable})"><i class="fa fa-eye green"></i>&nbsp;Ver Detalle</a></li>`;
                    //        //var Eliminar = `<li style="padding-left: 1px;"><a href="javascript:Dell_Responsable(${row.IdResponsable})"><i class="fa fa-trash red"></i>&nbsp;Eliminar</a></li>`;
                    //        var finBoton = '</ul></div>';
                    //        return inicioBoton /*+ Eliminar*/ + finBoton;
                    //    }
                    //},
                    { "title": "Fecha y Hora", "data": "FechaCreacion", "name": "FechaCreacion", className: "celdaCenter celda6" },
                    { "title": "Asunto", "data": "Asunto", "name": "Asunto", className: "celdaCenter celda5" },
                    { "title": "Anotación", "data": "Anotacion", "name": "Anotacion", className: "celdaJust celda40" },
                    { "title": "Creado por", "data": "Usuario", "name": "Usuario", className: "celdaJust celda11" },
                ],
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 registros', '25 registros', '50 registros', 'Todos']
                ],
                //"rowCallback": function (row, data, index) {
                //    if (data.EstadoLibro == "0") {
                //        $('td', row).eq(2).addClass("SemaforoRojo");
                //    }
                //    else {
                //        $('td', row).eq(2).addClass("SemaforoVerde");
                //    }
                //},
                ordering: false,
                pageLength: 10,
                bLengthChange: true,
                searching: true,
                paging: true,
                info: true
            });
        }

    </script> *@

}


